
*{
    font-weight: bolder;
    color: black;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: dodgerblue;
    width: 700px;
    align-items: center;
    margin: 100px auto;
    border-radius: 20px;
}

form > *{
    margin: 10px;
}

mat-radio-button {

    margin: 10px 16px;
}


